@{
    ViewData["Title"] = "Home Page";
}
<h1 class="display-3">Next Generation Apis</h1>

<div class="text-left">
    <p>Building <a href="https://docs.microsoft.com/aspnet/core"> NextGen Web apis and User experiences</a>.</p>
</div>




