@{
    ViewData["Title"] = "Language Understanding";
}
<h1 class="display-4">@ViewData["Title"]</h1>

<form>

    <div>
        <div>
            <label>LUIS App ID:<br></label>
            <input id="appid" type="text" name="html"  value="" size="40" />
        </div>

        <div>
            <label>LUIS Prediction Resource:<br></label>
            <input id="appid" type="text" name="html" value="nextgenApiIntentRecognition" size="40" />
        </div>

        <div>
            <label>LUIS Endpoint Key:<br>(You can use the starter key or the prediction resource endpoint key)</label>
            <input id="endpointkey" type="text" name="html" value="" size="40" />
        </div>

        <div>
            <label>LUIS utterance:<br>(User text to analyze)</label>
            <input id="utterance" type="text" name="html" value="Please return the account details for account number 123456" size="40" />
        </div>

        <div>
            <input type="submit" class="btn btn-primary" value="Submit" />
        </div>

</form>
<hr>

<div id="prediction">
</div>

<script src="~/js/languageUnderstanding.js"></script>